* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background: #0f1115;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.login-container {
  width: 100%;
  max-width: 1000px;
  height: 600px;
  display: flex;
  background: #181b22;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 30px 60px rgba(0,0,0,0.6);
}

.login-image {
  flex: 1;
  background: url("https://i.pinimg.com/736x/17/3f/c2/173fc2171fa9f9017432e7a7abdcfab3.jpg") center/cover no-repeat;
  position: relative;
}

.login-image::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.2));
}

.overlay {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 1;
}

.overlay h1 {
  font-size: 28px;
  color: #4f7cff;
}

.overlay p {
  font-size: 14px;
  color: #ddd;
}

.login-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form h2 {
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  color: #9aa0aa;
  margin-bottom: 28px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 14px 12px;
  background: #0f1115;
  border: 1px solid #2a2e38;
  border-radius: 10px;
  color: #fff;
  outline: none;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #777;
  pointer-events: none;
  transition: 0.3s;
  background: #0f1115;
  padding: 0 6px;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -6px;
  font-size: 12px;
  color: #4f7cff;
}

.login-btn {
  display: block;             
  width: 100%;
  padding: 18px;
  text-align: center;         
  border-radius: 16px;
  background: linear-gradient(135deg, #4f7cff, #6c8cff);
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;     
  cursor: pointer;
  border: none;
  /* box-shadow: 0 10px 25px rgba(79,124,255,0.35); */
  transition: 0.3s;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 35px rgba(79,124,255,0.5);
}

/* .login-btn:hover {
  transform: translateY(-1px);
  opacity: 0.9;
} */

.extra {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #9aa0aa;
}

.extra a {
  color: #4f7cff;
  text-decoration: none;
}

.error-text {
  display: block;
  margin-bottom: 20px;
  padding: 8px 10px;
  font-size: 12px;
  color: #ffb3b3;
  background: rgba(255, 0, 0, 0.15);
  border-radius: 8px;
}

/* RESPONSIVE */
/* @media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }

  .login-image {
    height: 200px;
  } */
/* } */
